{% extends 'base.html.twig' %}

{% block title %}Hello AdminController Review Comment!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Comment reviewed thank you</h2>

    <p>Applied transition: <strong>{{ transition }}</strong></p>
    <p>New States: <strong>{{ comment.state }}</strong></p>
</div>
{% endblock %}
