{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    {% for message in app.flashes('notification') %}
        <div class="alert alert-orange alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h2 class="mb-5">
        {{ conference }} Conference
    </h2>

    <div class="row">
        <div class="col-12 col-lg-8">
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if comment.photofilename %}
                                    <a href="{{ asset('uploads/photos/' ~ comment.photofilename) }}" target="_blank">
                                        <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" class="img-fluid rounded-start" />
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ comment.author }}
                                    </h5>

                                    <p class="card-text">
                                        {{ comment.text|nl2br }}
                                    </p>

                                    <p class="card-text">
                                        <small class="text-muted text-uppercase">
                                            {{ comment.createdAt|format_datetime('medium', 'short') }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                {% endfor %}
                <div>{{ 'nb_of_comments'|trans({count: comments|length}) }}</div>
                {% if previous >= 0 %}
                    <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Previous</a>
                {% endif %}
                {% if next < comments|length %}
                    <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Next</a>
                {% endif %}
            {% else %}
                <div class="text-center">
                    No comments have been posted yet for this conference.
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-teal shadow border rounded-lg p-4">
                <h3 class="font-weight-light">
                    Add your own feedback
                </h3>

                {{ form(comment_form) }}
            </div>
        </div>
    </div>
{% endblock %}
